<div class="blog-page">

<div class="omega-blog-pagination pt--20">
  {% if paginator.total_pages > 1 %}
  <ul class="pagination-list justify-content-center">
    
    {% if paginator.page > 1 %}
    <li><a href="{{ paginator.previous_page_path | relative_url | replace: '//', '' }}"><i class="fas fa-chevron-left"></i></a></li>
    {% endif %}
    
    {% if paginator.page > 3 %}
    <li><a href="{{ paginator.first_page_path | relative_url | replace: '//', '' }}">1</a></li>
    <li class="exerpt">...</li>
    {% endif %}
    
    {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
    <li {% if page.url == trail.path %} class="active" {% endif %}><a href="{{ trail.path | relative_url | replace: '//', '/' }}">{{trail.num}}</a></li>
    {% endfor %}
    {% endif %}
    
    {% assign lastminus2 = paginator.total_pages | minus: "2" %}
    {% if lastminus2 > paginator.page %}
    <li class="exerpt">...</li>
    <li><a href="{{ paginator.last_page_path | relative_url | replace: '//', '' }}">{{ paginator.total_pages }}</a></li>
    {% endif %}

    {% if paginator.total_pages > paginator.page %}
    <li><a href="{{ paginator.next_page_path | relative_url | replace: '//', '' }}"><i class="fas fa-chevron-right"></i></a></li>
    {% endif %}
    
  </ul>
  {% endif %}
  
</div>
</div><br />