    <!-- Vendor Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="{{ "assets/plugins/jquery/jquery-migrate.min.js" | relative_url }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Plugin's Scripts -->
    <script src="{{ "assets/plugins/fancybox/jquery.fancybox.min.js" | relative_url }}"></script>
    <script src="{{ "assets/plugins/nice-select/jquery.nice-select.min.js" | relative_url }}"></script>
    <script src="{{ "assets/plugins/aos/aos.min.js" | relative_url }}"></script>
    <script src="{{ "assets/plugins/slick/slick.min.js" | relative_url }}"></script>
    <!-- Activation Script -->
    <script src="{{ "assets/js/custom.js" | relative_url }}"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.1.4/js/dataTables.bootstrap4.js"></script>